//? Main colors
$primary: #2196f3;
$secondary: #fff; // MVP
$info: #33b5e5;
$error: #ff4444;
$success: #00c851;

$color1: #eee;
$color2: #b8b8b8;
$color3: #444;
$color4: #272727;
$color5: #1d1d1d;
$color6: #121212;

//? App
$appBackgroundColor: $color5;

//? AuthForm
$authHrBackground: $color3;
$authHeadingColor: $color1;
$authButtonColor: $color1;
$authButtonDisabledColor: $color3;
$authSpanColor: $color1;
$authButtonDiscordBackground: #7289da;
$authRouteHeadingColor: $color4;

//? BaseInput
$baseInputLabelColor: $color1;
$baseInputLabelActiveColor: $color2;
$baseInputFieldColor: $color1;
$baseInputFieldBackground: $color5;
$baseInputShowPasswordButtonColor: $color2;

//? AuthResponsePage
$authResponsePageWaitingColor: $color2;
$authResponsePageHeading: $color2;

//? AuthRegister
$authRegisterHeadingColor: $color1;

//? AuthResendEmail
$authResendEmailColor: $color1;

//? Notification
$notificationBackground: $color6;
$notificationContentColor: $color1;
$notificationBorderInfo: $info;
$notificationBorderError: $error;
$notificationBorderSuccess: $success;

//? Navigation
$navigationLinkColor: $color1;
$navigationLinkActiveBorderColor: $color1;
$navigationBackground: $color6;
$navigationHamburgerColor: $color1;
$navigationUserNameColor: $color1;
$navigationAddLinkColor: $color1;
$navigationAddLinkBorderColor: $color1;

$subNavigationBackground: $color6;
$subNavigationLinkColor: $color1;

//? NoteThumbnail
$noteThumbnailRedirectColor: $color1;
$noteThumbnailBackgroundColor: $color5;
$noteThumbnailTitleColor: $color1;
$noteThumbnailContentColor: $color2;
$noteThumbnailTagBackground: $primary;
$noteThumbnailTagColor: $color1;
$noteThumbnailDropdownButtonBackground: $color1;
$noteThumbnailDropdownElementColor: $color1;
$noteThumbnailDropdownElementBackground: $color4;

//? SubNavigation
$subNavigationSearchbarColor: $color1;
$subNavigationSearchbarBackground: $color5;
$subNavigationBorderLeftColor: $color4;

//? 404Page
$page404Color: $color1;

//? Dashboard
$dashboardAddNoteButtonColor: $color1;

//? Dropdown
$dropdownMainButtonColor: $color1;
$dropdownMenuButtonColor: $color1;
$dropdownMenuButtonBackground: $color4;
$dropdownMenuButtonBackgroundHover: $color3;
$dropdownMenuButtonBorderColor: $color3;

//? BaseSelect
$baseSelectBorderColor: $color2;
$baseSelectBorderColorHover: $primary;
$baseSelectPlaceholderColor: $color2;
$baseSelectOptionColor: $color2;
$baseSelectOptionBackgroundHover: $primary;

//? Note
$noteInputColor: $color1;
$noteInputPlaceholderColor: $color1;
$noteInputPlaceholderFocusColor: $color1;
$noteInputFocusBackground: $color4;
$noteDividerColor: $color3;
$noteTagColor: $color1;
$noteTagBackground: $primary;
$noteTagHoverRemoveColor: $error;
$noteButtonColor: $color1;
$noteButtonBackground: $primary;
$noteCheckboxColor: $color1;
$noteDoesntExistColor: $color1;
