@mixin inputSettings {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: $noteInputColor;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;

  &::placeholder {
    color: $noteInputPlaceholderColor;
    transition: color 0.2s;
  }

  &:focus::placeholder {
    color: $noteInputPlaceholderFocusColor;
  }

  &:focus {
    outline: none;
    background-color: $noteInputFocusBackground;
  }

  @include mq {
    padding: 1rem;
  }
}
